beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
Columnar==1.4.1
idna==3.4
requests==2.31.0
soupsieve==2.4.1
string-color==1.2.3
toolz==0.12.0
urllib3==2.0.2
wcwidth==0.2.6
